/* categories cards */
.contentCategoryCards { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: flex-start; overflow-x: auto; gap: var(--catGap); }
.contentCategoryCards::-webkit-scrollbar { display: none; }
.categoryCard { width: 100%; flex: 1 0 var(--catSize); max-width: var(--catSize); }
.category { position: relative; z-index: 2; height: 100%; padding-top: 56.25%; }
.categoryCard .categoryImg { width: 100%; height: 100%; border-radius: .5rem; object-fit: cover; object-position: 50% 50%; position: absolute; top: 0; bottom: 0; }
.darken { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: var(--black); border-radius: .5rem; opacity: var(--catOpacity-from); transition: 0.5s; }
.categoryCard:hover .darken { opacity: var(--catOpacity-to); }
.categoryCard .categoryName { position: absolute; z-index: 3; bottom: 0; left: 1rem; margin-bottom: .5rem; color: var(--white); font-weight: 500; font-size: var(--catFontSize-from); line-height: 1.5; transition: 0.5s; }
.categoryCard:hover .categoryName { font-size: var(--catFontSize-to); }


/* events cards */
.contentEventCards { display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; }
.eventCard { text-decoration: none; color: var(--text-color); padding-bottom: .8rem; padding-top: .8rem; }
.eventCard .event { display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch; justify-content: space-between; height: 100%; }
.eventCard .eventImg { flex: 65% 2; border-radius: .5rem; overflow: hidden; position: relative; padding-top: 56.25%; }
.eventCard .eventImg img { width: 100%; height: 100%; transition: 0.5s; object-fit: cover; object-position: 50% 50%; position: absolute; top: 0; bottom: 0; }
.eventCard:hover .eventImg img { transform: scale(1.08); }
.eventCard .eventInfo { flex: 35% 1 0; padding: .9rem .5rem; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: flex-start; align-content: flex-start; }
.eventCard .eventTitle { flex: 1 0 50%; }
.eventCard .eventTitle h4 { color: var(--ter-color); transition: 0.5s; font-size: 1.2rem; font-weight: 500; margin-bottom: .7rem; line-height: 1; }
.eventCard:hover .eventTitle h4 { color: var(--pri-color); }
.eventCard .eventPrice { flex: 1 0 50%; text-align: right; }
.eventCard .eventPrice span { color: var(--price-color); transition: 0.5s; font-size: var(--font-size); background-color: var(--price-bg); line-height: 1; padding: .5rem .9rem; display: inline-block; border-radius: 10rem; }
.eventCard:hover .eventPrice span { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03); background-color: var(--accent-color); }
.eventCard .eventDate { flex: 2 0 100%; }
.eventCard .eventDate p { color: var(--date-color); }
.eventCard .eventAddress { flex: 2 0 100%; }
.eventCard .eventAddress p { color: var(--text-color); }
.eventCard p { transition: 0.5s; font-size: var(--font-size); font-weight: 400; margin-bottom: .7rem; line-height: 1; }
.eventCard:hover p { color: var(--pri-color); }

/* tickets cards */
.contentTicketCards {  }
.ticketCard {  }
.ticketCard .ticket { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: space-between; position: relative; padding-top: 3rem; }
.ticketImg { width: 100%; flex: 1 0 22%; max-width: 22%; overflow: hidden; padding-right: .5rem; }
.ticketImg img { width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; border-radius: 1rem; }
.ticketInfo { width: 100%; flex: 1 0 78%; max-width: 78%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: stretch; position: relative; padding-left: 1rem; color: var(--text-color); font-size: var(--font-size); line-height: 1; font-weight: 400; }



/* .event { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: space-between; position: relative; padding-top: 3rem; }

.eventImg { width: 100%; flex: 1 0 22%; max-width: 22%; overflow: hidden; padding-right: .5rem; }
.eventImg img { width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; border-radius: 1rem; }

.eventInfo { width: 100%; flex: 1 0 78%; max-width: 78%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: stretch; position: relative; padding-left: 1rem; color: var(--text-color); font-size: var(--font-size); line-height: 1; font-weight: 400; }
.title { width: 100%; flex: 1 0 100%; max-width: 100%; }
.title h1 { margin-bottom: 0; font-weight: 500; font-size: 1.6rem; border-bottom: 1px solid #E4E4E4; padding-bottom: 1rem; padding-top: .1rem; line-height: 1; }

.date, .location, .creator, .contractAddress { width: 100%; flex: 1 0 50%; max-width: 50%; }
:is(.date, .location, .creator, .contractAddress) h2 { margin-bottom: 0; font-weight: 500; font-size: 1.1rem; padding-bottom: .2rem; padding-top: 1rem; line-height: 1.5; }
:is(.date, .location, .creator, .contractAddress) p { margin-bottom: 0; line-height: 1.7; padding-bottom: .9rem; }
:is(.date, .location, .creator, .contractAddress) span { color: var(--price-color); transition: 0.5s; background-color: var(--price-bg); line-height: 1; padding: .5rem .9rem; display: inline-block; border-radius: 10rem; cursor: pointer; }
:is(.date, .location, .creator, .contractAddress) span:hover { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03); background-color: var(--accent-color); }
:is(.date, .location, .creator, .contractAddress) span abbr { text-decoration: none; cursor: pointer; }

.description, .tickets { width: 100%; flex: 1 0 100%; max-width: 100%; }
:is(.description, .tickets) p { margin-bottom: 0; line-height: 1.7; padding-bottom: .9rem; }

.price, .mint { width: 100%; flex: 1 0 50%; max-width: 50%; padding-bottom: 1.2rem; border-bottom: 1px solid #E4E4E4; }
.price span { color: var(--price-color); transition: 0.5s; background-color: var(--price-bg); line-height: 1; padding: .5rem .9rem; display: inline-block; border-radius: 10rem; }
.price:hover span { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03); background-color: var(--accent-color); }

.mint { text-align: right; }
.mintBtn { background-color: var(--pri-color); color: var(--white); border: 0; border-radius: 3rem; padding: .6rem 1rem; font-size: var(--font-size); line-height: 1; font-weight: 400; transition: 0.5s; }
.mintBtn:hover { background-color: var(--ter-color); box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.15); }
.mintBtn[disabled] { background-color: var(--ter-color); opacity: .8; }
.mintBtn[disabled]:hover { box-shadow: none; } */