/* categories cards */
.contentCategoryCards { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: flex-start; overflow-x: auto; gap: var(--catGap); }
.contentCategoryCards::-webkit-scrollbar { display: none; }
.categoryCard { width: 100%; flex: 1 0 var(--catSize); max-width: var(--catSize); }
.category { position: relative; z-index: 2; height: 100%; padding-top: 56.25%; }
.categoryCard .categoryImg { width: 100%; height: 100%; border-radius: .5rem; object-fit: cover; object-position: 50% 50%; position: absolute; top: 0; bottom: 0; }
.darken { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: var(--black); border-radius: .5rem; opacity: var(--catOpacity-from); transition: 0.5s; }
.categoryCard:hover .darken { opacity: var(--catOpacity-to); }
.categoryCard .categoryName { position: absolute; z-index: 3; bottom: 0; left: 1rem; margin-bottom: .5rem; color: var(--white); font-weight: 500; font-size: var(--catFontSize-from); line-height: 1.5; transition: 0.5s; }
.categoryCard:hover .categoryName { font-size: var(--catFontSize-to); }


/* events cards */
.contentEventCards { padding-top: calc(var(--catGap) / 2); display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: flex-start; }
.eventCard { text-decoration: none; color: var(--text-color); padding-bottom: .8rem; padding-top: .8rem; }
.eventCard .event { display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch; justify-content: space-between; height: 100%; }

.eventCard :is(.eventImg, .eventImgOnline) { height: 100%; flex: 60% 2; max-height: 60%; border-radius: .5rem; overflow: hidden; position: relative; padding-top: 56.25%; }
.eventCard :is(.eventImg, .eventImgOnline) img { width: 100%; height: 100%; transition: 0.5s; object-fit: cover; object-position: 50% 50%; position: absolute; top: 0; bottom: 0; }
.eventCard:hover :is(.eventImg, .eventImgOnline) img { transform: scale(1.08); }

.eventCard .eventImgOnline { border: 2px solid var(--red); }
.eventCard .eventImgOnline p { display: inline-block; position: absolute; color: var(--white)!important; background-color: var(--red); bottom: .5rem; left: .5rem; line-height: 1; font-size: var(--catFontSize-from); padding: .5rem 1.2rem; margin-bottom: 0; border-radius: .5rem; transition: 0.5s; }
/* .eventCard:hover .eventImgOnline p {  } */

.eventCard .eventInfo { height: 100%; flex: 40% 1 0; max-height: 40%; padding: .9rem 0; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: flex-start; align-content: flex-start; }
.eventCard .eventTitle { flex: 1 0 50%; }
.eventCard .eventTitle h4 { color: var(--title-color); transition: 0.5s; font-size: 1.2rem; font-weight: 500; margin-bottom: .7rem; line-height: 1; }
.eventCard:hover .eventTitle h4 { color: var(--pri-color); }
.eventCard .eventPrice { flex: 1 0 50%; text-align: right; }
.eventCard .eventPrice span { color: var(--price-color); transition: 0.5s; font-size: var(--font-size); background-color: var(--price-bg); line-height: 1; padding: .5rem .9rem; display: inline-block; border-radius: 10rem; }
.eventCard:hover .eventPrice span { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03); background-color: var(--price-bg-to); }
.eventCard .eventDate { flex: 2 0 100%; }
.eventCard .eventDate p { color: var(--date-color); }
.eventCard .eventAddress { flex: 2 0 100%; }
.eventCard .eventAddress p { color: var(--text-color); }
.eventCard p { transition: 0.5s; font-size: var(--font-size); font-weight: 400; margin-bottom: .7rem; line-height: 1; }
.eventCard:hover p { color: var(--pri-color); }

/* tickets cards */
.contentTicketCards { gap: 3rem; }
.ticketCard {  }
.ticketCard .ticket { background-color: var(--sec-color); border-radius: .5rem; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch; justify-content: space-between; position: relative; padding: 1rem; border: 1px solid var(--accent-color); }
.ticketImg { width: 100%; flex: 1 0 22%; max-width: 22%; overflow: hidden; position: relative; }
.ticketImg img { width: 100%; height: 100%; object-fit: cover; object-position: 50% 50%; border-radius: 1rem; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.ticketInfo { width: 100%; flex: 1 0 78%; max-width: 78%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: stretch; position: relative; padding-left: 1.5rem; color: var(--text-color); font-size: var(--font-size); line-height: 1; font-weight: 400; align-content: flex-start; }
.ticketTitle { width: 100%; flex: 1 0 100%; max-width: 100%; }
.ticketTitle h1 { margin-bottom: 0; font-weight: 500; font-size: 1.4rem; border-bottom: 1px solid var(--underline); padding-bottom: 1rem; padding-top: .1rem; line-height: 1; }
.ticketTitle h1 a { color: var(--text-color); text-decoration: none; }
.ticketTitle h1 a:hover { text-decoration: underline; }
.ticketTitle h1 a:hover + img {  }
/* .ticketTitle h1 a:hover { color: var(--pri-color); text-decoration: underline; }
.ticketTitle h1 a:hover + img { filter: var(--pri-color-filter); } */
.ticketTitle h1 img { height: 1.2rem; width: auto; margin-left: .5rem; vertical-align: baseline; filter: var(--text-color-filter); }

.ticketId, .ticketDate, .ticketLocation { width: 100%; flex: 1 0 calc(100% / 3); max-width: calc(100% / 3); }
:is(.ticketId, .ticketDate, .ticketLocation) h2 { margin-bottom: 0; font-weight: 500; font-size: 1.1rem; padding-bottom: .2rem; padding-top: 1rem; line-height: 1.5; }
:is(.ticketId, .ticketDate, .ticketLocation) p { margin-bottom: 0; line-height: 1.7; }
/* :is(.ticketId, .ticketDate, .ticketLocation) span { color: var(--price-color); transition: 0.5s; background-color: var(--price-bg); line-height: 1; padding: .5rem .9rem; display: inline-block; border-radius: 10rem; cursor: pointer; }
:is(.ticketId, .ticketDate, .ticketLocation) span:hover { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03); background-color: var(--accent-color); }
:is(.ticketId, .ticketDate, .ticketLocation) span abbr { text-decoration: none; cursor: pointer; } */
.ticketLink { width: 100%; flex: 1 0 100%; max-width: 100%; text-align: right; padding-top: 1rem; }
.ticketLink a { background-color: var(--pri-color); color: var(--white); border: 0; border-radius: 3rem; padding: .6rem 1rem; font-size: var(--font-size); line-height: 1; font-weight: 400; transition: 0.5s; text-decoration: none; display: inline-block; border: 1px solid var(--pri-color); }
.ticketLink a:hover { background-color: var(--ter-color); border: 1px solid var(--accent-color); box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.15); }
