@font-face {
  font-family: 'Biotif';
  src: url('../fonts/Biotif-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Biotif';
  src: url('../fonts/Biotif-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

/* --light-sec-color: #F1F2FF;
    --sec-color-hover: #232637; */
    /* --white-color-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(215deg) brightness(108%) contrast(107%);
    --placeholder-color: #4C5065; */
:root,
  :root.dark {
    --pri-color: #444AC6; /* buttons */
    --pri-color-filter: invert(28%) sepia(30%) saturate(3804%) hue-rotate(222deg) brightness(91%) contrast(96%);
    --pri-color-rgb: 68, 74, 198;

    --sec-color: #1D1F2D; /* inputs */
    --sec-color-filter: invert(10%) sepia(19%) saturate(931%) hue-rotate(195deg) brightness(99%) contrast(95%);

    --ter-color: #1B1C2C; /* titles */
    --ter-color-rgb: 56, 48, 48;

    --accent-color: #292B3E; /* darker sec-color */

    --info-color: #4C5065; /* placeholders */
    --filter-info-color: invert(30%) sepia(5%) saturate(2025%) hue-rotate(193deg) brightness(96%) contrast(86%);


    --text-color: #FFFFFF;
    --text-color-filter: invert(100%);

    --light-text-color: #000000;
    --light-text-color-filter: invert(0%);
    
    --bg-color: #16161C;
    --inverted-bg-color: #FFFFFF;

    --price-color: #FFFFFF;
    --price-bg: var(--accent-color);
    --price-bg-to: var(--sec-color);
    --date-color: #FFFFFF;
    --title-color: var(--pri-color);
    --underline: #E4E4E4;
    --modal-border: var(--sec-color);
    --modal-img: var(--text-color-filter);
    --loadingW-bg-color: var(--white);
  }
  :root.light {
    --pri-color: #444AC6; /* buttons */
    --pri-color-filter: invert(28%) sepia(30%) saturate(3804%) hue-rotate(222deg) brightness(91%) contrast(96%);
    --pri-color-rgb: 68, 74, 198;

    --sec-color: #F1F2FF; /* inputs */

    --ter-color: #1D1F2D; /* titles */
    --ter-color-rgb: 29, 31, 45;

    --accent-color: #E3E4FA; /* darker sec-color */

    --info-color: #A4A4A4; /* placeholders */
    --filter-info-color: invert(87%) sepia(0%) saturate(77%) hue-rotate(166deg) brightness(76%) contrast(89%);

    --text-color: #000000;
    --text-color-filter: invert(0%);

    --light-text-color: #FFFFFF;
    --light-text-color-filter: invert(100%);
    
    --bg-color: #FFFFFF;
    --inverted-bg-color: #16161C;

    --price-color: var(--pri-color);
    --price-bg: var(--sec-color);
    --price-bg-to: var(--accent-color);
    --date-color: var(--pri-color);
    --title-color: var(--ter-color);
    --underline: #E4E4E4;
    --modal-border: #ECECEC;
    --modal-img: var(--pri-color-filter);
    --loadingW-bg-color: var(--sec-color);
  }

:root {
  --black: #000000;
  --white: #FFFFFF;
  --white-filter: invert(100%);
  --danger-color: #FFD7D7;
  --danger-color-border: #ED555F;
  --success-color: #ECF7EF;
  --success-color-border: #7CBD8E;
  --warning-color: #FFFAE9;
  --warning-color-border: #EDB955;
  --info-color: #E8EFF9;
  --info-color-border: #7684CB;

  --red: #F55858;

  --font-family: Arial, sans-serif;
  --font-size: .95rem;
  --font-size-xl: 3.8rem;

  --mw-xxl: 1399.98px;
  --mw-xl: 1199.98px;
  --mw-lg: 991.98px;
  --mw-md: 767.98px;
  --mw-sm: 575.98px;



  --catOpacity-from: .2;
  --catOpacity-to: .5;
  --catGap: 2rem;
  --catSize: 22%;
  --catFontSize-from: 1.1rem;
  --catFontSize-to: 1.2rem;
  
  /* --line-height: 1.5; */
  /* --border-radius: 4px; */
}

body::-webkit-scrollbar { width: .75rem; }
body::-webkit-scrollbar-track { background-color: var(--sec-color); }
body::-webkit-scrollbar-thumb { background-color: var(--accent-color); }
body::-webkit-scrollbar-thumb:hover { background-color: var(--pri-color); }

.success { background-color: var(--success-color)!important; border: 1px solid var(--success-color-border)!important; }
.danger { background-color: var(--danger-color)!important; border: 1px solid var(--danger-color-border)!important; }
.warning { background-color: var(--warning-color)!important; border: 1px solid var(--warning-color-border)!important; }
.info { background-color: var(--info-color)!important; border: 1px solid var(--info-color-border)!important; }


* { box-sizing: border-box; padding: 0; margin: 0; }
html, body { max-width: 100vw; overflow-x: hidden; }
body { color: var(--text-color); background: var(--bg-color); }


/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    --font-size-xl: 2.5rem;
  }
  
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}