
.main { padding-top: 6rem; padding-bottom: 6rem; min-height: 100vh; }

.header { min-height: 100vh; }
.headerContainer {  }
.squareLeft {  }
.squareRight {  }
.header .content {  }
.header .content .column {  }
.header .content .column:nth-child(1) {  }
.header .content .column:nth-child(2) {  }
.header .content .column h1 {  }

.eventCard { text-decoration: none; color: var(--text-color); }
.eventCard:hover { color: var(--pri-color); }
.eventCard .event { text-align: right; }
.eventCard:hover .event {  }
.eventCard .event .eventImg { overflow: hidden; border-radius: .5rem; }
.eventCard .event .eventImg img { width: 100%; height: auto; transition: 0.5s; }
.eventCard:hover .event .eventImg img { transform: scale(1.08); }
.eventCard .event p { transition: 0.5s; font-weight: 400; margin-top: 1rem; margin-bottom: 0; font-size: var(--font-size); }

.section {  }