.main { padding-top: 6rem; }
.header {  }
.headerContainer {  }
.header .content {  }
.header h1 { color: var(--text-color); font-size: 2rem; margin-bottom: 0; line-height: 1.7; }

.section {  }
.sectionContainer {  }
.sectionContainer .content {  }