.main { padding-top: 6rem; padding-bottom: 6rem; }
.mainContainer {  }

.header {  }
.headerContainer {  }
.header .content {  }
.header h1 { color: var(--text-color); font-size: 1.6rem; margin-bottom: .5rem; line-height: 1.7; font-weight: 500; }
h2.subtitle { color: var(--text-color); font-size: 1.1rem; margin-bottom: 1.2rem; line-height: 1.2; font-weight: 500; }

.categoryImg { display: block; width: 100%; margin: 0 auto; height: 100%; position: relative; padding-top: 10%; }
.categoryImg img { position: absolute; left: 0; object-fit: cover; width: 100%; height: 100%; top: 0; object-position: 50% 50%; border-radius: .5rem; }

.breadcrumbs { line-height: 1; font-size: var(--font-size); padding: 3rem 0 1.25rem 0; margin-bottom: 0; }
.breadcrumbs a { color: var(--text-color); text-decoration: none; transition: 0.2s; }
.breadcrumbs a:hover { color: var(--pri-color); text-decoration: underline; }

.section {  }
.sectionContainer {  }
.sectionContainer .content {  }
.sectionContainer .column {  }

/* in create events */
.sideImgSection { height: 100%; }
.sideImgContainer { overflow: hidden; position: relative; height: 100%; }
.sideImgContainer img { width: 100%; height: 60%; object-fit: cover; object-position: 50% 50%; display: block; margin: 0 auto; text-align: center; min-height: 20rem; max-height: 40rem; border-radius: .5rem; }


.alert { background-color: var(--bg-color); border: 1px solid var(--text-color); position: fixed; z-index: 4; border-radius: .5rem; bottom: 1rem; left: 1rem; padding: .5rem; }
/* .alert.success { background-color: var(--success-color); border: 1px solid var(--success-color-border); }
.alert.danger { background-color: var(--danger-color); border: 1px solid var(--danger-color-border); }
.alert.warning { background-color: var(--warning-color); border: 1px solid var(--warning-color-border); }
.alert.info { background-color: var(--info-color); border: 1px solid var(--info-color-border); } */

.alertContent { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center; gap: .5rem; }
.alertIcon { height: 1.4rem; width: auto; }
.alertMessage { font-size: var(--font-size); font-weight: 400; color: var(--black); line-height: 1.2; margin-bottom: 0; max-width: 75%; }
.alertCloseBtn { background: none; border: 0; outline: none; position: relative; }
.alertCloseBtn img { height: 1.4rem; width: auto; vertical-align: bottom; }